body {
    font-size: 16px;
    background-color: wheat;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

section {
    width: 300px;
    background-color: #fff;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

label i {
    color: #999;
    font-size: 80%;
}

input,
select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.row {
    padding-bottom: 10px;
}

.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}

.form-inline label,
.form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.error {
    color: red;
    font-size: 90%;
}

.submit {
    font-size: 110%;
    font-weight: bold;
    background-color: #006dcc;
    border-color: #016BC1;
    box-shadow: 0 3px 0 #0165b6;
    cursor: pointer;
    padding: 5px 30px;
}

input[type="submit"]:hover {
    background: #588bb9;
}